body {background-color: white;
color: black;}

.backgroundImg {height: 350px;
overflow: hidden;}

.backgroundImg img {height: 350px;
width: 100%;}

.homeheader {align-content: center;
left: 40px;}

.hexGroup {align-content: auto;
  position: relative;
  top: auto;
  bottom: auto;
width: auto;
margin-left: auto;
margin-right: auto;}

.development {background: #22313f;
  opacity: 0.9;
  position: relative;
  top: 350px;
color: #eee;
width: auto;
height: 300px;
align-content: center;}

.development p {width: 100%;
    position: absolute;
    align-content: center;
  text-align: center;}

.development h3 {float: left;}

.development p ul li{list-style-type: none;
}

.design {background: #ffffff;
  opacity: 0.9;
  position: relative;
  top: 350px;
color: #000000;
width: auto;
height: 300px;
align-content: center;}

.words {background: #59abe3;
  opacity: 0.9;
  position: relative;
  top: 350px;
color: #eee;
width: auto;
height: 300px;
align-content: center;}

.about {background: #1ba39c;
  opacity: 0.9;
  position: relative;
  top: 350px;
color: #eee;
width: auto;
height: 300px;
align-content: center;}

.contact {background: #80b971;
  opacity: 0.9;
  position: relative;
  top: 350px;
color: #eee;
width: auto;
height: 300px;
align-content: center;}



/* HEX CODE FOR SHAPES */

.hex {
    width:150px;
    height:86px;
    background-color: #ccc;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto 173px;
    position: relative;
    float: left;
    margin:25px 5px;
    text-align:center;
    zoom:1;
}


    .hex a {
        display:block;
        width: 100%;
        height:100%;
        text-indent:-9999em;
        position:absolute;
        top:0;
        left:0;
    }
    .hex .corner-1,
    .hex .corner-2 {
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background: inherit;
        z-index:-2;
        overflow:hidden;
        backface-visibility: hidden;
    }

    .hex .corner-1 {
        z-index:-1;
        transform: rotate(60deg);
    }

    .hex .corner-2 {
        transform: rotate(-60deg);
    }

    /* Custom styles FOR HEX CODE */
    .hex .inner {
        color:#eee;
    }

    .hex h4 {
        font-family: 'Josefin Sans', sans-serif;
        margin:0;
    }

    .hex hr {
        border:0;
        border-top:1px solid #eee;
        width:60%;
        margin:15px auto;
    }
    .hex p {
        font-size:16px;
        font-family: 'Kotta One', serif;
        width:80%;
        margin:0 auto;
    }

    .hex.hex-3 {
        top:170px;
        background: #80b971;
        left: 270px;
    }

    .hex.hex-4 {
        top:40px;
        background: #59abe3;
        left: 200px;
    }

    .hex.hex-5 {
        top:170px;
        background: #22313f;
        left: 130px;
    }

    .hex.hex-6 {
        top:40px;
        background: #86e2d5;
        left: 60px;
    }

    .hex.hex-7 {
        top:170px;
        background: #1ba39c;
        left: -10px;
    }
